
/* ----------- Text Container ------------- */

.textContainer h2{
margin-bottom: 1em;
line-height: 1.2em;
}

.textContainer p{
margin-bottom: 1em;
line-height: 1.8em;
}

.textContainer img{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* ----------- Unordered Lists ------------- */

.textContainer ul:last-of-type{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

.textContainer li{
  list-style-type: disc;
}
