.layoutContainer img{
  margin: 0 auto;
  width: 10rem;
}

.titleContainer {
  /* background-color: darkblue; */
    margin-bottom: 0.2rem;
    text-align: left;
    margin-left: 1rem;
    font-family: 'Zilla Slab', serif;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1;
    color: black;
}

.pageTitleContainer {
  text-align: center;
  margin: 1rem;
}

.pageTextContainer {
  text-align: center;
}

.sectionContainer{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
